{% extends 'base.html' %}


{% block content %}
    <form method="post">
        <label for="content">留言</label>
        <input name="content" id="content" pattern=".{3,200}" title="留言长度在 3~200 字之间" required>
        <p id="input_can">您还可以输入 200 字</p>
        <label for="parent">parent（父 ID）</label>
        <input name="parent" id="parent" value="0" required>
        <input type="submit" value="Comment">
    </form>
    {% for comment in comments %}
        <article class="comment">
            <p class="body">{{ comment }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}

