<!DOCTYPE html>
<html lang="en" class="<meta name=" viewport" content="width=device-width">

<head>
    <meta charset="UTF-8">
    <title>PDF 表格提取</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <main class="page">
        <h2>表格提取</h2>
        
        <!-- input file -->
        <div class="box">
            <p>请选择一个带有表格的文件（支持：PDF、PNG、JPG 格式）</p>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="提取">
            </form>
            <p style="text-align-last: right;">提取表格格式为 csv</p>
        </div>
    </main>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
</body>

<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

</html>