{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <p>Username、Email 任填其一</p>
        <label for="username">Username</label>
        <input name="username" id="username">
        <label for="email">Email</label>
        <input name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label>
            <input type="checkbox" checked="checked" name="remember" id="remember"> Remember me
        </label>
        <input type="submit" value="Log In">
    </form>
{% endblock %}
