<!doctype html>
<title>{% block title %}{% endblock %} - Comment-Demo</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1><a href="{{ url_for('index') }}">Comment-Demo</a></h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><span>{{ g.user['email'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                {% else %}
            <li><a href="{{ url_for('auth.signup') }}">Sign Up</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    // 动态提示
    $("#content").on('input', function () {
        var inputedNum = $("#content").val().length;
        var canInputNum = parseInt(200 - inputedNum);
        if (canInputNum > 0) {
            $("#input_can").html("您还可以输入 " + canInputNum + " 字");
        } else {
            $("#input_can").html("您还可以输入 0 字");
        }
    });
</script>

